In [74]:
import pandas as pd
import numpy as np
import random as rnd

def titanic(train, test):
    train_df = pd.read_csv(train)
    test_df = pd.read_csv(test)
    combine = [train_df, test_df]

    train_df = train_df.drop(['Ticket', 'Cabin'], axis=1)
    test_df = test_df.drop(['Ticket', 'Cabin'], axis=1)
    combine = [train_df, test_df]

    for dataset in combine:
        dataset['Title'] = dataset.Name.str.extract(' ([A-Za-z]+)\.', expand=False)

    pd.crosstab(train_df['Title'], train_df['Sex'])

    for dataset in combine:
        dataset['Title'] = dataset['Title'].replace(['Lady', 'Countess','Capt', 'Col',\
        'Don', 'Dr', 'Major', 'Rev', 'Sir', 'Jonkheer', 'Dona'], 'Rare')

        dataset['Title'] = dataset['Title'].replace('Mlle', 'Miss')
        dataset['Title'] = dataset['Title'].replace('Ms', 'Miss')
        dataset['Title'] = dataset['Title'].replace('Mme', 'Mrs')

    train_df[['Title', 'Survived']].groupby(['Title'], as_index=False).mean()

    title_mapping = {"Mr": 1, "Miss": 2, "Mrs": 3, "Master": 4, "Rare": 5}
    for dataset in combine:
        dataset['Title'] = dataset['Title'].map(title_mapping)
        dataset['Title'] = dataset['Title'].fillna(0)

    train_df = train_df.drop(['Name', 'PassengerId'], axis=1)
    test_df = test_df.drop(['Name'], axis=1)
    combine = [train_df, test_df]

    for dataset in combine:
        dataset['Sex'] = dataset['Sex'].map( {'female': 1, 'male': 0} ).astype(int)

    guess_ages = np.zeros((2,3))
    guess_ages

    for dataset in combine:
        for i in range(0, 2):
            for j in range(0, 3):
                guess_df = dataset[(dataset['Sex'] == i) & \
                                      (dataset['Pclass'] == j+1)]['Age'].dropna()

                # age_mean = guess_df.mean()
                # age_std = guess_df.std()
                # age_guess = rnd.uniform(age_mean - age_std, age_mean + age_std)

                age_guess = guess_df.median()

                # Convert random age float to nearest .5 age
                guess_ages[i,j] = int( age_guess/0.5 + 0.5 ) * 0.5

        for i in range(0, 2):
            for j in range(0, 3):
                dataset.loc[ (dataset.Age.isnull()) & (dataset.Sex == i) & (dataset.Pclass == j+1),\
                        'Age'] = guess_ages[i,j]

        dataset['Age'] = dataset['Age'].astype(int)

    for dataset in combine:
        dataset['FamilySize'] = dataset['SibSp'] + dataset['Parch'] + 1



    for dataset in combine:
        dataset['IsAlone'] = 0
        dataset.loc[dataset['FamilySize'] == 1, 'IsAlone'] = 1

    combine = [train_df, test_df]

    freq_port = train_df.Embarked.dropna().mode()[0]

    for dataset in combine:
        dataset['Embarked'] = dataset['Embarked'].fillna(freq_port)

    test_df['Fare'].fillna(test_df['Fare'].dropna().median(), inplace=True)
    
    test_df = pd.get_dummies(test_df)
    train_df = pd.get_dummies(train_df)

    test_df.head(10)
    return (train_df, test_df)

In [75]:
train = './titanic/train.csv'
test = './titanic/test.csv'
train, test = titanic(train, test)
train.head()

,Survived,Pclass,Sex,Age,SibSp,Parch,Fare,Title,FamilySize,IsAlone,Embarked_C,Embarked_Q,Embarked_S
0,0,3,0,22,1,0,7.2500,1,2,0,0,0,1
1,1,1,1,38,1,0,71.2833,3,2,0,1,0,0
2,1,3,1,26,0,0,7.9250,2,1,1,0,0,1
3,1,1,1,35,1,0,53.1000,3,2,0,0,0,1
4,0,3,0,35,0,0,8.0500,1,1,1,0,0,1

In [76]:
test.shape

(418, 13)

In [77]:
target = test.iloc[:, 1:]

In [78]:


X = train.iloc[:, 1:]

# x contains of features

y = train.iloc[:, 0]

# y is the target

In [79]:
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import make_scorer, accuracy_score
from sklearn.model_selection import GridSearchCV

from sklearn.model_selection import train_test_split
import matplotlib.pyplot as plt
%matplotlib inline

In [80]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=23)

In [81]:
def gridfunc(classifier, parameter, X_t, Y_t):
    
    
    clf = classifier
    
    parameters = parameter
    acc_scorer = make_scorer(accuracy_score)
    
    # Run the grid search
    grid_obj = GridSearchCV(clf, parameters, scoring=acc_scorer)
    grid_obj = grid_obj.fit(X, y)
    
    return grid_obj

In [82]:
classifier = RandomForestClassifier( oob_score=True, random_state=0)


parameter = {'n_estimators': [4,16], 
              'max_features': ['log2'], 
              'criterion': ['gini'],
              'max_depth': [4], 
              'min_samples_split': [5, 30],
              'min_samples_leaf': [1]
             }

In [83]:
grid = gridfunc(classifier, parameter, X, y)

grid.cv_results_

{'mean_fit_time': array([ 0.01150441,  0.04167898,  0.01143106,  0.0409317 ]),
 'mean_score_time': array([ 0.00255791,  0.00929403,  0.00250332,  0.00860763]),
 'mean_test_score': array([ 0.8013468 ,  0.82154882,  0.78900112,  0.82042649]),
 'mean_train_score': array([ 0.82940516,  0.8372615 ,  0.81537598,  0.8305275 ]),
 'param_criterion': masked_array(data = ['gini' 'gini' 'gini' 'gini'],
              mask = [False False False False],
        fill_value = ?),
 'param_max_depth': masked_array(data = [4 4 4 4],
              mask = [False False False False],
        fill_value = ?),
 'param_max_features': masked_array(data = ['log2' 'log2' 'log2' 'log2'],
              mask = [False False False False],
        fill_value = ?),
 'param_min_samples_leaf': masked_array(data = [1 1 1 1],
              mask = [False False False False],
        fill_value = ?),
 'param_min_samples_split': masked_array(data = [5 5 30 30],
              mask = [False False False False],
        fill_value = ?),
 'param_n_estimators': masked_array(data = [4 16 4 16],
              mask = [False False False False],
        fill_value = ?),
 'params': ({'criterion': 'gini',
   'max_depth': 4,
   'max_features': 'log2',
   'min_samples_leaf': 1,
   'min_samples_split': 5,
   'n_estimators': 4},
  {'criterion': 'gini',
   'max_depth': 4,
   'max_features': 'log2',
   'min_samples_leaf': 1,
   'min_samples_split': 5,
   'n_estimators': 16},
  {'criterion': 'gini',
   'max_depth': 4,
   'max_features': 'log2',
   'min_samples_leaf': 1,
   'min_samples_split': 30,
   'n_estimators': 4},
  {'criterion': 'gini',
   'max_depth': 4,
   'max_features': 'log2',
   'min_samples_leaf': 1,
   'min_samples_split': 30,
   'n_estimators': 16}),
 'rank_test_score': array([3, 1, 4, 2], dtype=int32),
 'split0_test_score': array([ 0.78787879,  0.8047138 ,  0.77777778,  0.7979798 ]),
 'split0_train_score': array([ 0.83164983,  0.84680135,  0.83670034,  0.84175084]),
 'split1_test_score': array([ 0.82491582,  0.82828283,  0.8047138 ,  0.82828283]),
 'split1_train_score': array([ 0.82828283,  0.83164983,  0.79461279,  0.81649832]),
 'split2_test_score': array([ 0.79124579,  0.83164983,  0.78451178,  0.83501684]),
 'split2_train_score': array([ 0.82828283,  0.83333333,  0.81481481,  0.83333333]),
 'std_fit_time': array([ 0.0001907 ,  0.00086721,  0.0001305 ,  0.00037199]),
 'std_score_time': array([  3.23303173e-05,   8.56456771e-04,   2.64578984e-05,
          3.14609012e-04]),
 'std_test_score': array([ 0.01672241,  0.01198325,  0.01144561,  0.01610853]),
 'std_train_score': array([ 0.00158722,  0.00678061,  0.01718675,  0.01049848])}

In [84]:
 # Set the clf to the best combination of parameters
clf = grid.best_estimator_
    
    # Fit the bsest algorithm to the data. 
clf.fit(X, y)

RandomForestClassifier(bootstrap=True, class_weight=None, criterion='gini',
            max_depth=4, max_features='log2', max_leaf_nodes=None,
            min_impurity_split=1e-07, min_samples_leaf=1,
            min_samples_split=5, min_weight_fraction_leaf=0.0,
            n_estimators=16, n_jobs=1, oob_score=True, random_state=0,
            verbose=0, warm_start=False)

In [85]:
y_predict = clf.predict(target)
y_predict

array([0, 1, 0, 0, 1, 0, 1, 0, 1, 0, 0, 0, 1, 0, 1, 1, 0, 0, 1, 1, 0, 1, 1,
       0, 1, 0, 1, 0, 0, 0, 0, 0, 1, 1, 0, 0, 1, 1, 0, 0, 0, 0, 0, 1, 1, 0,
       0, 0, 1, 1, 0, 0, 1, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 1, 1, 1, 0, 0,
       1, 1, 0, 1, 0, 1, 0, 0, 1, 0, 1, 1, 0, 0, 0, 0, 0, 1, 1, 1, 1, 1, 0,
       1, 0, 0, 0, 1, 0, 1, 0, 1, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 1, 1, 1,
       0, 0, 1, 0, 1, 1, 0, 1, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 1, 0, 0, 1, 1, 0, 1, 1,
       1, 1, 0, 0, 1, 0, 0, 1, 1, 0, 0, 0, 0, 0, 1, 1, 0, 1, 1, 0, 0, 1, 0,
       1, 0, 1, 0, 0, 0, 0, 0, 1, 0, 1, 0, 1, 1, 0, 1, 1, 1, 1, 1, 0, 0, 0,
       0, 1, 0, 0, 0, 0, 1, 0, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 1, 0, 1, 0, 0,
       0, 1, 0, 0, 0, 0, 0, 0, 1, 1, 1, 1, 0, 0, 0, 0, 1, 0, 1, 1, 1, 0, 0,
       0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 1, 0, 0, 0, 0, 1, 0, 0, 0, 1, 1, 0, 1,
       0, 0, 0, 0, 1, 1, 1, 1, 1, 0, 0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 1, 0, 0,
       0, 0, 0, 0, 0, 1, 1, 0, 1, 0, 1, 0, 0, 0, 0, 1, 1, 0, 0, 0, 0, 0, 0,
       0, 0, 1, 0, 1, 0, 0, 0, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0,
       1, 0, 1, 0, 1, 1, 0, 0, 0, 1, 0, 1, 0, 0, 1, 0, 1, 1, 0, 1, 0, 0, 1,
       1, 0, 0, 1, 0, 0, 1, 1, 1, 0, 0, 0, 0, 0, 1, 1, 0, 1, 0, 0, 0, 0, 0,
       1, 1, 0, 0, 1, 0, 1, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 1, 1, 1, 1, 1, 0,
       1, 0, 0, 1])

In [86]:
y_predict.shape

(418,)

In [87]:
solutions = pd.DataFrame()
solutions['PassengerId'] = test.PassengerId
solutions['Survived'] = y_predict
solutions.head()

   PassengerId  Survived
0          892         0
1          893         1
2          894         0
3          895         0
4          896         1

In [88]:
solutions.to_csv('./survival.csv', index=False)

In [60]:
solutions.columns

Index([u'PassengerId', u'Survived'], dtype='object')